################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DigiLimbMobile/DigiLimbMobile/DigiLimbMobile/Platforms/iOS/Info.plist
